<footer id="footer" class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3">
        Copyright &copy;
        {{ now | toString | substr 0 4 }}{{ " " }}
        <a
            class="link-body-emphasis"
            href="https://www.bdreece.dev"
            target="_blank"
            rel="noreferrer"
        >
            Brian Reece
        </a>
    </div>
</footer>
