<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/style.css" />

        <title>
            {{ block "title" . }}notable{{ end }}
        </title>
    </head>

    <body
        data-bs-theme="dark"
        hx-boost="true"
        hx-select="#content"
        hx-target="#content"
        hx-swap="outerHTML"
    >
        {{ template "header.gotmpl" . }}


        <main id="content">
            {{ block "content" . }}Page not found! 😞{{ end }}
        </main>

        {{ template "footer.gotmpl" . }}


        <script type="module" src="/index.js"></script>
    </body>
</html>
